.busori-main{
    height: 700px;
    width: 100%;
}
.busori-heading{
    height: 140px;
    font-weight: bold;
    font-size: 2.1em;
}
.busori-sub{
    height: 450px;
    width: 90%;
    margin:0 auto;
}
.busori-sub-1{
    width: 49%;
    border-radius: 10px;
    height: 100%;
    float: left;
    margin-left: 1%;
    box-shadow: 5px 5px 18px #888888;
}
.busori-img{
    margin-top: 10px;
}
.busori-sub-heading{
    height: 60px;
    font-size: 1.8em;
    font-weight: bold;
}
.busori-sub-heading-2{
    height: 45px;
    font-size: 1.1em;
    font-weight: 300;
}