.fit-main{
    width: 100%;
    background: lightcyan;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.fit-a{
    height: 100%;
    width: 35%;
    color: rgb(64, 64, 115);
    font-size: 2.1em;
    font-weight: bold;
    
}
.fit-b{
    height: 100%;
    width: 60%;

}
.fit-b div{
    margin-top: 200px;
}
.fit-a img{
    width: 80%;

}
.fit-b button{
    border: 2px solid rgb(79, 79, 121);
    width: 350px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
    color: rgb(64, 64, 115);
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: inherit;
}
.fit-b button:hover{
    border: none;
    background: white;
    box-shadow: 5px 5px 18px #888888;
}
.stutest-main{
    height: 800px;
    width: 100%;
    background: rgb(239, 239, 248);
}
.stutest-heading{
    height: 200px;
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rgb(64, 64, 115);
    font-size: 3.2em;
}
.stutest-stu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.stutest-a{
    height: 350px;
    width: 25%;
    background: white;
    border-bottom: 2px solid purple;
    box-shadow: #888888 1px 1px 12px 1px;
}
.stutest-b{
    height: 450px;
    width: 25%;
    background:white;
    margin-top: 100px;
    border-bottom: 2px solid pink;
    box-shadow: #888888 1px 1px 12px 1px;
}
.stutest-c{
    height: 350px;
    width: 25%;
    background: white;
    border-bottom: 2px solid black;
    box-shadow: #888888 1px 1px 12px 1px;
}
.stutest-a div{
    margin-top: 50px;
    line-height: 25px;
}
.stutest-stu img{
    height: 80px;
    width: auto;
    border-radius: 200px;
}
.stutest-b div{
    margin-top: 50px;
    line-height: 25px;
}
.stutest-c div{
    margin-top: 50px;
    line-height: 25px;
}
.stutest-a:hover,.stutest-b:hover,.stutest-c:hover{
    border: none;
    box-shadow: #888888 1px 1px 1px 1px;
}
.foot-main{
    height: 500px;
    background: rgb(50, 48, 48);
}
.foot-sub{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.foot-sub div{
    text-align: left;
    height: 200px;
    width: 22%;
}
.foot-sub-h{
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    line-height: 50px;
}
.foot-sub-a{
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 25px;

}
.foot-sub a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    line-height: 30px;
}
.foot-icon{
   padding-left: 20px;
}
.foot-sub a:hover{
    color: yellow;
}
.footer-first{
    margin-left: 80px;
}
.foot-last{
    height: 100px;
    background: rgba(0, 0, 0, 0.689);
}
.foot-icons{
    height: 70px;
    float: left;
    margin-left: 60px;
}
.foot-last div{
    float: right;
    color: white;
    margin-right: 30%;
    margin-top: 20px;

}
body.active-modal{
    overflow-y: hidden;
}
.btn-modal{
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size:38px;
    border: none;
    color: orangered;
    background: blue;
    margin-bottom: 100px;
}
.btn-modal:hover{
    color: blue;
    background: orangered;
}
.modal,.overlay{
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay{
    background-color: rgb(50, 48, 48);
}
.modal-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    line-height: 1.4;
    padding: 14px 28px;
    background: white;
    border-radius: 3px;
    max-width: 900px;
    min-width: 900px;
}
.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.tu-main{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.tu-main-sub{
    width: 24%;
    height: 98%;
    border-radius:10px;
    box-shadow: #888888 2px 2px 2px 2px;
}
.tu-main img{
    width: 90%;
    margin-top: 20px;
}
.tu-main-sub-heading{
    font-weight: bold;
    margin-bottom: 30px;

}
.tu-main-sub-con{
    font-weight: 200;
    font-size: 0.9em;   
}
.tu-main-sub-banner{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    color: orange;
    font-size: 1.5em;

}
.tu-btn-1{
    height: 50px;
    width: 80px;
    border-radius: 30px 0px 0px 30px;
    border:none;
    color: white;
    font-weight: bold;
    background:rgb(51, 34, 149);;

}
.tu-btn-2{
    height: 50px;
    width: 80px;
    border-radius: 0px 30px 30px 0px;
    border:none;
    color: white;
    font-weight: bold;
    background: rgb(203, 102, 136);

}
.sub label{
    font-family: arial;

}
.sub h3{
    margin-top: 20px;
}
.sub input{
    border: none;
    border-bottom: 1px solid black;
    background: inherit;
    color: black;
}